@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}
.form-control {
  border: none;
  border-bottom: 1px solid silver;
  border-radius: 0;
}
.form-control:focus {
  border: none;
  outline: none;
  border-bottom: 4px solid rgb(255, 217, 4);
  box-shadow: none;
}
input[type="checkbox"] {
  margin-right: 5px;
}
input[placeholder] {
  font-weight: 400;
  letter-spacing: 1px;
}
hr {
  background-color: #cfcccc;
}
.nav-item {
  padding: 0 15px;
}
.nav-item a {
  font-size: 16px;
  font-weight: 500;
}
.active {
  border-bottom: 3px solid blueviolet;
}

/* home */
.home {
  background-image: url("./resources/Image/background.png");
  background-size: 100% 100%;
  background-position: 0% 0%;
  height: 100vh;
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}
.search-box input {
  border: none;
  outline: none;
}
.search-box input:focus {
  border: none;
  outline: none;
}

/* carousel */
.carousel {
  height: 80vh;
  position: relative;
  top: 20vh;
  z-index: 100;
}
.carousel-item {
  height: 70vh;
  border: none;
}
.carousel img {
  width: 150px;
}
.carousel-control {
  width: 120px;
  height: 50px;
  position: relative;
  margin: 0 auto;
}
.carousel-control button {
  width: 47px;
  height: 47px;
  background-color: white;
  color: black;
  border-radius: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 8px;
}

/* booking */
.booking-div label {
  color: #818181;
  font-size: 0.9rem;
  font-weight: 500;
}
.booking-div .form-control {
  border: 0;
  background-color: #f2f2f2;
  border-radius: 5px;
  font-weight: bold;
}

.bg-overlay {
  background-image: url("./resources/Image/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay;
}
@media (min-width: 992px) {
  .bg-overlay {
    height: 100vh;
  }
}
